body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8a4bff;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9900;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#home img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

footer {
    background-color: #8a4bff;
    color: white;
    text-align: center;
    padding: 5px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul li {
        margin: 0 10px;
    }

    section {
        padding: 30px 10px;
    }

    #home img {
        width: 150px;
        height: 150px;
    }
}
